<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cisco.hicn.forwarder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.cisco.hicn.forwarder.service.BackendAndroidService"
            android:exported="true" />
        <service android:name="com.cisco.hicn.forwarder.service.BackendProxyService"
            android:exported="true" />
        <service
            android:name="com.cisco.hicn.hproxylibrary.service.BackendAndroidVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:stopWithTask="false">
        </service>
        <!--<uses-library android:name="semtunservice" android:required="false"/>-->
        <uses-library android:name="hproxyLibrary" android:required="false"/>

    </application>
</manifest>
